body {
  background-color : #F2F22E;
}

h1 {
  font: oblique bold 150% cursive;
}

th {
  font: oblique bold 120% cursive;
}

#primero {
  border : solid;
  width : 140px;
  height : 120px;
  margin : auto;
  margin-bottom : 20px;
  background-image: url(http://i.imgur.com/UdLkjqu.jpg);
  background-size:cover;
  box-shadow: 5px 5px 5px #1F1F1C;
}

h1 {
  text-align : center;
}

table {
  margin : auto;
}
